html {
  font-size: 62.5%;
}

.container-fluid {
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.kc-text {
  margin: 10px 0;
  padding: 0 15px;
  color: #000000;
}
.kc-text.center {
  text-align: center;
}
.kc-img {
  padding: 30px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  img {
    height: 140px;
  }
}
.kc-sub-title {
  margin: 0;
  padding: 0 15px;

  font-size: 15px;
  font-weight: bold;
  color: #000000;
}
.kc-sub-text {
  margin: 5px 0;
  padding-left: 45px;
  padding-right: 30px;
  text-indent: -0.9em;
  color: #000000;
}

.ctm-leaflet-clickable {
  cursor: pointer !important;
}

.el-tabs__item.is-active {
  color: #00877a !important;
}
.el-tabs__item:hover {
  color: #00877a !important;
}
.el-tabs__active-bar {
  background-color: #00877a !important;
}
@media only screen and (min-width: 48em) and (max-width: 75em) {
  .kc-img {
    img {
      width: 60%;
      height: auto;
    }
  }
}

@media only screen and (max-width: 48em) {
  .kc-img {
    img {
      width: 60%;
      height: auto;
    }
  }
}
