.menu-tab-list .el-dropdown-menu__item {
  font-size: 16px !important;
  font-weight: 600;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #00877a;
  height: 40px !important;
  line-height: 40px !important;
}

.menu-tab-lifst {
  border-radius: 0 !important;
}

.em-keywrord {
  font-size: 6rem;
  font-weight: bold;
}
@media only screen and (min-width: 48em) and (max-width: 75em) {
  .em-keywrord {
    font-size: 3.2rem;
    font-weight: bold;
  }
}
@media only screen and (max-width: 48em) {
  .em-keywrord {
    font-size: 3.2rem;
    font-weight: bold;
  }

  .home-section-2,
  .home-section-3,
  .home-section-4 {
    br {
      display: none;
    }
  }
}
